.outercomment{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.eachcomment{
    margin-top: 20px;
    background-color: rgb(31, 29, 29);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.text{
    width: 60%;
    text-align: left;
}
.by{
    width: 40%;
}