.navbar{
    background-color: black;
    color: white;
    display: flex;
   
    width: 100%;
}
.loginbtn{
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.searchbar{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.searchbar input{
    width: 80%;
    background-color:#EADED9;
    height: 5vh;
    border-radius: 15px;
}