@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');
.Main{
    background-color: #171717;
    color: white;
    width: 70%;
    border-radius: 20px;
    padding-bottom: 20px;
    font-family: 'Pathway Extreme', sans-serif;

}
.head{
    display: flex;
    justify-content: space-between;
    margin:10px 20px;
    
    

}
.block{
    /* background-color: rgb(243, 243, 243); */
    /* background-color:#EADED9; */
    background-color: rgba(34, 34, 34, 0.76);

    display: flex;
    justify-content: space-between;
    margin:1px 20px ;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: rgb(224, 224, 224);
    border-radius: 5px;   
    
}
.block:hover{
    background-color: #254366
}
.out{
    background-color: aliceblue;
}
.remarkabletxs{
    /* background-color: aqua; */
    background-color: #171717;
    width: 70%;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Pathway Extreme', sans-serif;

}
.eachtxs{

    background-color: rgba(34, 34, 34, 0.76);
    width: 90%;
    margin:1px 20px ;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    align-items: center;
}
.eachtxs p{
  overflow: hidden;
}
.eachtxs:hover{
    background-color: #254366


}

.txdesc{
   
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Pathway Extreme', sans-serif;


}
.txdesctop{
    
    padding-left: 80px;
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    font-size: 20px;
    text-align: left;
    line-height: 45px;
    
    
    
}


  .commentbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  /* --------------------------------responsive */
  @media (max-width : 800px){
    .block{
      font-size: 10px;

    }
    .Main{
      width: 90%;
    }
    .remarkabletxs{
      width: 90%;
    }
  }

/* -------------------------------------------copy button */
  button.copy {
    /* background-color: blue; */
    /* background: transparent; */
    /* border: none; */
    font-size: 10px;
    color: #ffffff;
    cursor: pointer;
    padding: 8px 10px;
    margin-left: 10px;
  }
  
  
  



  /* ------------------button */
  button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  

  /* -------------------spinner */
  .spinner {
    position: absolute;
    top: 50%;
    left: 47%;
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;
  }
  
  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
  }
  
  .spinner::before {
    border-color: #474bff #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }
  
  .spinner::after {
    margin: 8.9px;
  }
  
  @keyframes spinner-e04l1k {
    100% {
      transform: rotate(1turn);
    }
  }